.cart{
    width: 240px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
}
.poker{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.right{
    float: right;
    
}
.card-bod{
    flex: 1 1 auto;
    min-height: 1px;
}

.label-preco{
    margin-top: 14%;
    margin-right: 5%;
}
.card-cart label{
    margin-left: 5%;
}




@media screen and (max-width: 768px) {
    .cart{
        margin-top: 3%;
        width: 100%;
    }
    .label-preco{
        margin-top: 6%;

    }
    
  }